#  This is the .git/config snippet for use with the filter.
#
#  Replace 'FILTER' with the full path to your filter binary,
#  and replace 'CHECKOUT' with the full path to your git workspace:
[filter "gel-filter"]
        smudge = FILTER -access_map CHECKOUT/.git/access_map -mode smudge -file %f
        clean = FILTER -access_map CHECKOUT/.git/access_map -mode clean -file %f
[diff "gel-filter"]
        textconv = FILTER -access_map CHECKOUT/.git/access_map -mode diff -in
[merge "gel-filter"]
        name = Git encryption layer filter
        driver = FILTER -access_map CHECKOUT/.git/access_map -mode merge -file %P -ancestor %O -ours %A -theirs %B
