#  This is the .git/config snippet for use with the filter.
[filter "gel-filter"]
        smudge = /home/john/git-bin/filter -access_map /home/john/git/exd/.git/access_map -mode smudge -file %f
        clean = /home/john/git-bin/filter -access_map /home/john/git/exd/.git/access_map -mode clean -file %f
[diff "gel-filter"]
        textconv = /home/john/git-bin/filter -access_map /home/john/git/exd/.git/access_map -mode diff -in
[merge "gel-filter"]
        name = Git encryption layer filter
        driver = /home/john/git-bin/filter -access_map /home/john/git/exd/.git/access_map -mode merge -file %P -ancestor %O -ours %A -theirs %B
